input{
    border: 1px solid black;
}

*{
    font-family: "Poppins", sans-serif;
}


/* scrollbar style */
*::-webkit-scrollbar{
    width : 8px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color : rgb(253, 253, 253);
}

*::-webkit-scrollbar-thumb{
    background-color: rgb(59, 130, 246);
    border-radius : 20px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgb(9, 78, 190); /* Thumb color on hover */
}

/* Print layout Config */

@media print {
    /* Hide header and footer when printing */
    .header-url, 
    .footer-details {
        display: none !important;
    }
    
    /* Hide any browser-generated headers and footers */
    @page {
        margin: 0;
    }
}